$menu-height: 36px;
$menu-v-padding: 12px;
$menu-h-padding: 12px;
$menu-item-size: $menu-height - $menu-v-padding;

html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#map-canvas {
	z-index: 1;
}

button {
	padding-left: 2em;
	padding-right: 2em;
}

.markerInfo {
	text-align: center;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 6px;
}

#menu {
	background: #F8F8F8;
	height: $menu-item-size;
	padding: ($menu-v-padding - 6) 0 $menu-v-padding 0;
	width: 100%;
	position: absolute;
	z-index: 2;
	bottom: 0;
	table {
		margin: 0;
		padding: 0 $menu-h-padding 0 33%;
		width: 100%;
		td {
			width: 33%;
			text-align: right;
			img {
				cursor: pointer;
				width: $menu-item-size;
				height: $menu-item-size;
			}
		}
	}
}

.notification {
	padding-top: 10px;
	padding-bottom: 10px;
}